.whatIDoTitle{
    color: greenyellow;
    font-size: 35px;
    font-weight: bold;
    margin-top: 20px; 
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right:-2.7em;
}

.expWrapper{
    margin-left: 80px;
    margin-top: 20px; 
}

.openReply{
    margin-top: 20px; 
}

.redss{
    display: flex;
}
.redssTechStack{
    display: flex;
}
.myImg{
    width: 10% !important;
}

.redssExp{
    margin-left: 10px; 
}
.openReply{
    display: flex; 
}
.openReplyExp{
    margin-left: 10px; 
}

.ps{
    font-size: 1.2em;
}
.orTechStack{
    width: 75vh;
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 575px) { 

    .whatIDoTitle{
        margin-right: -17em;
        margin-top: 2em;
        font-size: 50px;
    }
    .expWrapper {
        margin-left: 80px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        margin-left: 6em;
        gap: 8em;
        margin-top: -3em;
        margin-right: -47em;
    }
    .redss{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 5em
    }
    .openReply{
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .myImg{
        width: 5em !important;
    }
    .ps{
        font-size: 2em;
    }
    .redssTechStack{
        margin-top: 4em;
        margin-left: 14em; 
    }
    .orTechStack{
        margin-left: 7em;
    }

    .redssLogo{
        width: 75vw;
        height: auto;;
    }
    .openReplyLogo{
        width: 75vw;
    height: auto;
}
}
