.whatIDoWidget{
    display: flex;
    flex-direction: row;
    margin-bottom: 3em;
    &:last-of-type{
        margin-bottom: 0em;
    }

    p{
        margin: 0
    }

    .ps{
        margin-bottom: 1em;
    }

    .experience{
        margin-left: 10px; 
    }

    .headline{
        font-size: 1.5em;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .techStack{
        display:grid;
        grid-template-columns: repeat(10, 70px); 
        grid-column-gap: 0.6em;  
    }
    
    .techStackImage{
        width: 100% !important;
        max-width: 75px;
    }

    .imgWrapper{
        margin-right: 25px;
    }

    .logo{
        min-width: 200px;
        height: auto;
    }

}

// Small devices (landscape phones, 576px and up)
@media (max-width: 575px) { 

    .whatIDoWidget{
        display: flex;
        flex-direction: column;
        .imgWrapper{
            text-align: center;
            margin: 0;

            img{
                max-width: 100px;
                min-width: 100px;
            }
        }

        .headline{
            font-size: 1em;
        }

        .techStack{

            img{
                width: 80% !important;
                max-width: 60px;
            }
        }

        .experience{
            display: block;
            text-align: center;
        }
    }

    .whatIDoTitle{
        margin-right: -17em;
        margin-top: 2em;
        font-size: 50px;
    }
    .expWrapper {
        margin-left: 80px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        margin-left: 6em;
        gap: 8em;
        margin-top: -3em;
        margin-right: -47em;
    }
    .redss{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 5em
    }
    .openReply{
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .myImg{
        width: 5em !important;
    }
    .ps{
        //font-size: 2em;
        margin-bottom: 2em;
    }
    .redssTechStack{
        margin-top: 4em;
        margin-left: 14em; 
    }
    .orTechStack{
        margin-left: 7em;
    }

    .redssLogo{
        width: 75vw;
        height: auto;;
    }
    .openReplyLogo{
        width: 75vw;
    height: auto;
}
}
