.whatIDoTitle{
    color: greenyellow;
    font-size: 35px;
    font-weight: bold;
    margin-top: 20px; 
}

.expWrapper{
    margin-left: 80px;
    margin-top: 20px; 
}

.openReply{
    margin-top: 20px; 
}

.redss{
    display: flex;
}
.redssTechStack{
    display: flex;
}
.myImg{
    width: 10% !important;
}

.redssExp{
    margin-left: 10px; 
}
.openReply{
    display: flex; 
}
.openReplyExp{
    margin-left: 10px; 
}