.toolbar {
    color:white;
}

button.openMobileMenu{
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: transparent !important;
    border: none;
    i{
        font-size: 48px;
    }
    outline: none;
}

.closeIt {
    color:aliceblue;
    font-size: 6em !important;
}

.menuDialog{
    div[role='dialog']{
        background-color: black;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size:3em;
        flex-direction: column;
        font-weight: bold;
        
        

        a{
            color:#1aff00;
            background-color: #66FF00;
            background-image: linear-gradient(45deg, #66FF00, #FFF000);
            background-size: 100%;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent; 
            -moz-text-fill-color: transparent;
            display: flex;
            flex-direction: column;
            line-height: 3em;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
        }
    }
}
// Small devices (landscape phones, 576px and up)
@media (max-width: 575px) { 
    .fsHamburger{
        display: block;
    }
 }