.devFlex{
    display: flex;
    flex-direction: column;
    height: 100%;
  }

.imageDiv{
    align-items: center;
    justify-content: center;
    align-self: center;
    display: flex;
    flex: 1;

    img{
        max-width: calc(45vw - 3em);
        max-height: auto;
        
    }
}


  .developer{
      flex: none;
      text-align: left;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 5em;
      font-weight: bold;
      text-align: left;
      padding-left: 1em;
      padding-right: 1em;
      .coverh2{
        color: white !important;
        line-height: 1.5em;
      }
    
  }
  
  .mainTitle{
    background-color: #66FF00;
    background-image: linear-gradient(45deg, #66FF00, #FFF000);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
  }

// Small devices (landscape phones, 576px and up)
@media (max-width: 575px) { 
  .developer{
    font-size: 3.5em;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-left: 10em;
    line-height: 2.5em;
    .coverh2{
      font-size: 1.5em;
    }
  }

  .imageDiv{
    align-items: center;
    justify-content: center;
    align-self: center;
    display: flex;
    flex: 1;
    padding-left: 18em;

    img{
      max-width: calc(115vw - 3em);
      max-height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: center;
      text-align: center;
      flex-direction: row;
      margin-left: 30em;
    }
}
}