.devFlex {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  padding-top: 20px;

  h1 {
    font-size: 3rem;
    margin-left: 0em;
  }

  h3 {
    font-size: 2rem;
  }

  .developer {
    flex: none;
    text-align: left;
    //align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 5em;
    font-weight: bold;
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
  }

  .imageDiv {
    align-items: center;
    justify-content: center;
    align-self: center;
    display: flex;
    flex: 1;

    img {
      max-width: calc(45vw - 3em);
      max-height: auto;
    }
  }
}

.mainTitle {
  background-color: #66ff00;
  background-image: linear-gradient(45deg, #66ff00, #fff000);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 575px) {
  .devFlex {
    flex-direction: column;
    padding-top: 100px;
    
    .developer {
      text-align: center;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      
      padding-left: 0em;
      padding-right: 0em;

      h1 {
        font-size: 2rem;
        line-height: 1em;
        margin: 0;
        padding-bottom: 50px;
      }

      h3 {
        font-size: 1rem;
        line-height: 1em;
        margin: 0;
        padding-bottom: 50px;
      }
    }
  }

  .imageDiv {
    align-items: center;
    justify-content: center;
    align-self: center;
    display: flex;
    flex: 1;

    img {
      max-height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: center;
      text-align: center;
      flex-direction: row;
      max-width: calc(100vw - 30px);
      min-width: calc(100vw - 30px);
    }
  }
}
