.navFlex > p{
    color: white;
    font-weight: 20px;
    text-transform: uppercase;
    
    }
    .navFlex{
        display: flex;
        padding: 5px 3em 5px 3em;
        flex-direction: row-reverse;
        gap: 65px;
        .navLinks{
          text-decoration: none;
          color: white;
        } 
        .contactMeBtn{
          color: black;
          padding: 1px;
          font-family: 'Noto Sans JP', sans-serif;
          
        }
      
        }  
        .fab{
            color: white;
            font-size: 30px;
            margin-top: 1em;
          }
          .icons i{
            color: white;
            font-size: 30px;
            margin-top: 0.5em;
          }
         
    
// Small devices (landscape phones, 576px and up)
@media (max-width: 575px) { 
  .navFlex{
    visibility: hidden;
  }
}