.navFlex > p{
    color: white;
    font-weight: 20px;
    text-transform: uppercase;
    
    }
    .navFlex{
        display: flex;
        padding: 5px 3em 5px 3em;
        flex-direction: row-reverse;
        gap: 50px;
        .textWhite{
          color: white;
        }
        .navLinks{
          text-decoration: none;
          color: white
        } 
        .contactMeBtn{
          color: black;
          padding: 1px;
          font-family: 'Noto Sans JP', sans-serif;
          
        }
        .contactMeBtn:hover{
        border:chartreuse 3px dotted;
        }
        }    
    
      