.navFlex {
  display: grid;
  padding: 2em 3em 2em 3em;
  grid-template-columns: repeat(6, auto);
  grid-column-gap: 1em;
  align-items: baseline;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  background-color: black;
  z-index: 1;
  justify-content: right;
  text-align: right;

  .navLinks {
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    padding: 0.5em ;
    transition: all 500ms;
    &:hover{
      color: #66FF00
    }
  }
  .contactMeWrapper {
    color: white;
    background: linear-gradient(45deg, #66FF00, #FFF000);
    background-position: 0% 0%; 
    transition: all 500ms;
    grid-column: 1;
    .navLinks{
      margin: 4px;
      background-color: black;
      display: block;
      padding: 0.5em 2em;
    }
    &:hover{
      transform: scale(1.1);
    }
  }
}

.icons{
  transition: all 500ms;
  i {
    font-size: 30px;
    //margin-top: 0.25em;
    transition: all 500ms;
  }
  &:hover{
      i{
        color: white !important;
        background-color: white;
        background-image:unset;
        transform: scale(1.5);
      }    
  }
} 

// Small devices (landscape phones, 576px and up)
@media (max-width: 575px) {
  .navFlex {
    display: none;
  }
}
