.techBadge{
    width: 100%;
    transition: all 500ms ease-in;
    position: relative;
    img{
        width: 100%;
        transition: all 500ms ease-in;
    }
    label{
        display: flex;
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        opacity:0;
        transition: all 500ms;
        transform: rotateZ(-45deg);
        justify-content: center;
        text-align: center;
        align-items: center;
        align-content: center;
        border-radius: 500000px;
        font-size: 22px;
        font-weight: bold;
        color: white;
        background-color: rgba(8, 6, 6, 0.5);
        
    }
    &:hover{
        img{
            transform: scale(1.2);
        }
        label{
            transition: all 500ms;
            opacity: 1;
            transform: rotateZ(0deg);
            transform: scale(1.7);
        }
    }
}