.stackTitle{
color: greenyellow;
font-size: 35px;
font-weight: bold;
padding-bottom: 3px;
margin-left: 80px;
}
.myFeImgWrapper{
    display: grid;
    grid-column-gap: 5em;
    grid-row-gap: 5em;
    grid-template-columns:  100px 100px 100px;
    flex-wrap: wrap;
    //margin-left: 450px;
    align-items: center; 
    justify-content: center;
}

.myFeImg{
    width: 100%;
}
.title{
    align-items: center; 
    justify-content: center;
    text-align: center;
}
.myBeImgWrapper{
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    gap: 5.8em; 
}

.myBeImg{
    width: 75%;
}
.myDoImgWrapper{
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    gap: 5.8em; 
}
.myDoImg{
   max-height: 100px;
}
.myImg{
    font-size: 4.2em; 
    letter-spacing: 0.15em;
    max-height: 100px;
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 575px) {
    .stackTitle {
        margin-right:-15em;
        font-size: 50px;
        margin-top: 2em;
    }
    .myFeImgWrapper{
        margin-left: 37em;
    }
    .title{
        margin-left: 16em; 
        font-size:2em;
    }
    .myBeImgWrapper{
        margin-left: 37em;
    }
    .myDoImgWrapper{
        margin-left: 37em;
    }
}
