.myForm{
    color: #1aff00;

    
}

.tf{
    flex:1;
    textarea{
        color: #1aff00;
        min-width: 50vw;
    }
}

.contactMeForm{
    margin: 0 auto;
}



// Small devices (landscape phones, 576px and up)
@media (max-width: 575px) { 
    .contactMeForm{
    margin-right: -51em;
    }
   .formInput{
        width: 140vw;
    }
    .tf{
        width: 140vw;
    }
    .formH2{
        font-size: 50px;
    }
}